.unity-scroll-view {
    flex: 1 0 0;
}

.unity-box {
    flex: 1 0 0;
    margin: 6px;
    padding:1px;
}

.task {
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
}

    .task:hover {
        background-color: rgb(194, 194, 194);
    }

    .task:focus {
        background-color: rgb(150, 150, 150);
    }

.buttonContainer{
    margin-bottom:6px;
    margin-left:6px;
    margin-right:6px;
}